<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
              version="3.0">
	<display-name>blank_board</display-name>
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	<welcome-file>index.htm</welcome-file>
	<welcome-file>index.jsp</welcome-file>
	<welcome-file>default.html</welcome-file>
	<welcome-file>default.htm</welcome-file>
	<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

    <!-- 1. aliases 설정 -->
    <servlet>
    	<!-- 임의의 이름 생성 -->
        <servlet-name>BoardListServlet2</servlet-name>
        <!-- 매핑할 클래스 파일명을 패키지명을 포함하여 정확히 입력. -->
        <servlet-class>blank_board.servlet.BoardListServlet2</servlet-class>
    </servlet>
    
    <!-- 2. 매핑 -->
    <servlet-mapping>
    	<!-- 임의의 이름 생성 -->
        <servlet-name>BoardListServlet2</servlet-name>
        <!-- servlet-class의 클래스를 매핑할 임의의 이름을 입력한다. 시작할 떈 '/' 붙여준다 -->
        <url-pattern>/BoardListServlet2</url-pattern>
    </servlet-mapping>

</web-app>